@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

.custom-img{
  background-image: url(https://images.unsplash.com/photo-1683538128801-827200d50e0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60);
}